.root {
    -fx-background-color: #222;
    -fx-background-radius: 15;
}

.mainPane {
    -fx-background-color: linear-gradient(to bottom right, #f093fb 0%, #f5576c 100%);
    -fx-background-radius: 0 0 15 15;
}

.highlight {
    -fx-background-color: #00000025;
    -fx-background-radius: 25 0;
}
.highlight:hover {
    -fx-background-color: rgba(43, 43, 43, 0.10);
}
.highlight.symbol {
    -fx-background-radius: 0 25;
    -fx-background-color: rgba(0, 60, 255, 0.5);
}
.highlight#clear {
    -fx-background-color: rgba(255, 49, 49, 0.50);
}
.highlight#equals {
    -fx-background-color: rgba(63, 255, 49, 0.75);
}
.highlight#clear, .highlight#equals {
    -fx-background-radius: 25;
}
#extra {
    -fx-background-color: rgba(223, 0, 255, 0.50);
}